<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions - these must be at the top level, direct children of <manifest> -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- For older Android versions (pre-Android 10/API 29), needed for app-specific external storage -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Feature declarations - also direct children of <manifest> -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VMedicine">
        <activity
            android:name=".UserSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".FindMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".ScannedMedicineDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PrescriptionReviewActivity"
            android:exported="false" /> <!-- FileProvider declaration - MUST be inside <application> -->
        <activity
            android:name=".ProblemIdentifiedActivity"
            android:exported="false" /> <!-- MainActivity - your app's entry point -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities in your app -->
        <activity
            android:name=".QRScanActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="screenOrientation" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PrescriptionScanActivity"
            android:exported="false" />
        <activity android:name=".MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.technathon.vmedicine.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Optional: ML Kit meta-data if you use on-device models -->
        <!-- This meta-data ensures the on-device Latin text recognition model is available -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>